<div class="card">
  <div class="card-header"></div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-12">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-6">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-6">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-4">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-4">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-4">
          <app-generic-input></app-generic-input>
        </div>
        <div class="col-12 col-lg-4">
          <app-generic-input></app-generic-input>
        </div>
      </div>
    </form>
  </div>
</div>
